<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Nearby Places</title>
    <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- load jQuery and bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src='js/geolocate.js' type='text/javascript'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="utf-8">

    <script>
        var map;
        var infowindow;
        var pos;

        function initAutocomplete() {
            // creating new google map with center and zooom
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: -33.8688,
                    lng: 151.2195
                },
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            // creating new info window for the map
            infowindow = new google.maps.InfoWindow({
                map: map
            });
            // Try HTML5 geolocation to get the current user location
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    // updating the position var
                    pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    // update the info window
                    infowindow.setPosition(pos);
                    infowindow.setContent('Location found.');
                    // updating the map
                    map.setCenter(pos);
                }, function () {
                    // in case of error, call the handle location error function
                    handleLocationError(true, infowindow, map.getCenter());
                });
            } else {
                // in case the browser doesn't support Geolocation
                handleLocationError(false, infowindow, map.getCenter());
            }
            // Create the search box and link it to the UI element.
            var input = document.getElementById('addressInput');
            var searchBox = new google.maps.places.SearchBox(input);
//            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            //hack control position
            google.maps.event.addDomListener(map, 'tilesloaded', function () {
                if ($('#addressInputHolder').length == 0) {
                    $('div.gm-style #addressInput').wrap('<div id="addressInputHolder" />');
                }
            });

            // Bias the SearchBox results towards current map's viewport
            map.addListener('bounds_changed', function () {
                // update the pos based on the search result
                pos = {
                    lat: map.getCenter().lat(),
                    lng: map.getCenter().lng()
                };
                console.log(pos);
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();
                if (places.length == 0) {
                    return;
                }
                // Clear out the old markers
                markers.forEach(function (marker) {
                    marker.setMap(null);
                });
                markers = [];
                // For each place, get the icon, name and location
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (place) {
                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };
                    // Create a marker for each place
                    markers.push(new google.maps.Marker({
                        map: map,
                        icon: icon,
                        title: place.name,
                        position: place.geometry.location
                    }));
                    if (place.geometry.viewport) {
                        // Only geocodes have viewport
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
        }

        function callback(results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(results[i]);
                }
            }
        }

        function createMarker(place) {
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(place.name);
                infowindow.open(map, this);
            });
        }

        function searchLocations(serviceType) {
            var service = new google.maps.places.PlacesService(map);
            service.nearbySearch({
                location: pos,
                radius: 100,
                types: [serviceType]
            }, callback);
        }

        $(document).ready(function () {
            //search nearby points of interest using the input box
            $('.overlay').on('click', '#searchAddress', function () {
                event.preventDefault();
                var address = $('#addressInput').val();
                //address is variable
                searchLocations(address);
            });
        });
    </script>
</head>

<body ng-controller="searchController as myCtrl">

    <header class="container">
        <div class="Instructions">
            <h1 class="heading">
            <span>Nearby Places</span>
        </h1>
            <h4>This app retrieves a list of nearby places, such as airports and local businesses based on current location and text input. Supporting browsers include Chrome, Firefox, IE and Opera. Go ahead and give it a try!</h4>
<!--            <h4>This app finds your current location and retrieves nearby places when you press enter on the searchbox. You can also find nearby places based on an address or city and state. Supporting browsers include Chrome, Firefox, IE and Opera. Go ahead and give it a try!</h4>-->
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <br>
                <br>
                <!--                <form ng-submit="search(pos)" novalidate>-->
                <form novalidate name="yo" ng-submit="search(pos, searchPlace)">
                    <div class="overlay">
                        <input ng-model="searchPlace" type="text" id="addressInput" size="10" value="" placeholder="Search for Places"  />
                        <input type="submit"  value="search it!" id="submitSearch"/>
                    </div>

                </form>
<!--
                <form>
                <div class="collection-airport" ng-submit="search(collection)">
                    <input type="submit" value="search airports" id="submitAirport"/>
                </div>
                </form>
-->
                <div id="map"></div>

            </div>
            <div class="col-md-6">
                <!--search list results-->
                <div class="search-list">
                    <h2 ng-show="showPlaces">Places Found:</h2>
                    <h2 ng-show="noPlaces">Sorry, no results found!</h2>
                    <h2 ng-show="apiError">Sorry, there is an error!</h2>

                    <ul id="search-details">
                        <!--use ng-repeat to to display the search list (results)-->
                        <li ng-repeat="result in searchResults">
                            <h3><b>{{ result.name }}</b></h3>
                            <p>{{ result.place.properties.street}}, {{ result.place.properties.city }}, {{ result.place.properties.stateCode }} {{ result.place.properties.postalCode }}, {{ result.place.properties.countryCode }} </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7buZcMEjcjwpMa8qztndpYmCxxP-Te2A&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
    <script src='js/app.js' type='text/javascript'></script>

</body>

</html>
